*{
    
margin: 0;
padding: 0 ;
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
} 
    
body{
background-image: url("imagenes2/madera\ rustica.jpg");
background-position: center;
background-size: cover;
background-color: rgb(2, 4, 5);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
       
} 
 
.portada{
width: 100%;
height: 500px;
background: url("imagenes2/395783-blackangel.jpg");      
background-size:100% ;
animation: movimiento 15s infinite linear alternate ;
background-repeat: no-repeat;
    
}
    
@keyframes movimiento{
from{
background-position: bottom left;
        
}
        
to{
background-position: top right;
            
            
}
}
    
h1{
text-align: center;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
#h1{
 
text-align: center;
color: #fff;
font-family: Verdana, Geneva, Tahoma, sans-serif;
 
 
}
 
 
h2{
text-align: center;
width: auto;
color: #fff;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
 
 
}
 
h3{
color: white;
text-align: left;
margin: 1rem 5rem ;
 
}
 
 
h4{
margin: 1rem 1rem ;
text-align: right;
color: white;
 
font-family: cursive;
 
 
 
}
 
 
 
 
 
 
p{
margin: 2rem auto;
text-align: center;
display: table;
height: 180px;
width: 300px;
color: #fff;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
}
 
#p{
text-align: left;
margin-left: 70px;
color: #fff;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}
 
#figure{
width: 200px;
height: auto;
margin-left: auto;
margin-right: auto;
display: block;
border: 3px solid white;
         
         
-webkit-transition:-webkit-transform 0.5s ease-in-out 0.10s;  
     
}
 
#figure2{
 
width: 300px;
height: auto;
margin:2rem auto;
display: block;
border: 6px solid white;
-webkit-transition:-webkit-transform 0.5s ease-in-out 0.10s;
 
 
 
}
 
#figure2a{
 
width: 200px;
height: auto;
margin: 2rem auto;
display: block;;
border: 9px solid white;
-webkit-transition:-webkit-transform 0.5s ease-in-out 0.10s;
   
 
}
#figuresponsor{
 
width: 60px;
height: auto;
margin-left: 52px ;
float: left;
display: inline-block;
border: 6px solid white;
-webkit-transition:-webkit-transform 0.5s ease-in-out 0.10s;
    
}
 
#figuresponsor2{
width: 80px;
height: auto;
margin-left: 5px;
float: right;
display: inline-block;
border: 4px solid white;
-webkit-transition:-webkit-transform 0.5s ease-in-out 0.10s;
 
}
 
 
figure img:hover{
-webkit-transform:scale(1.3) ;
         
         
}  
     
a{
color: white;
     
}
     
.container .btn-menu .logo{
    
float: left;
line-height: 70px;
        
} 
 
.container .btn-menu label{
    
color: #fff;
font-size: 25px;
cursor: pointer;
}
             
  
     
#btn-menu{
     
display: none;
}
.container-menu{
    
position: absolute;
background: rgba(0,0,0,0.5);
width: 100%;
height: 200vh;
top:0 ;
left: 0;
transition: all 500ms ease;
opacity: 1;
visibility: visible;
        
}
     
#btn-menu:checked ~.container-menu{
    
opacity: 0;
visibility: hidden;
            
} 
   
.cont-menu{
width: 100%;
max-width: 300px;
background:#1c1c1c ;
height: 170vh;
position:relative ;
transition: all 500ms ease;
transform: translateX(0%);
opacity: 3;
                
} 
                     
#btn-menu:checked ~.container-menu .cont-menu{
transform: translateY(-100%);
                    
}
    
cont-menu nav{
    
transform: translateY(15%);
                    }
                     
.cont-menu nav a{
    
display: block;
text-decoration: none;
padding: 25px;
color: white;
border-left: 5px solid transparent;
transition: all 400ms ease;
                        
} 
                
.cont-menu nav a:hover{
border-left: 5px solid #c7c7c7;
background: #1f1f1f;
                        
                        
} 
.cont-menu label{
    
position: static;
right: 5px;
top: 10px;
color: white;
cursor: pointer;
font-size: 30px;
                                                    
 
}
                                             
 
.center{
max-width: 1800px;
width: 90%;
overflow: hidden;
margin: auto;
 
}
.scene{
width: 200px;
height: 260px;
border: 1px solid rgb(201, 194, 194);
margin: 40px 0;
perspective: 500px;
}
 
.card__face{
 
position: absolute;
width: 100%;
height: 100%; 
line-height: 260px;
color: white;
text-align: center;
font-weight: bold;
font-size: 40px;
backface-visibility: hidden;
background: rgb(0, 0, 0);
}
 
.card__face--back{
font-family: Arial, Helvetica, sans-serif;
background: rgb(0, 0, 0);
transform: rotateY(180deg);
 
}
 
.card{
 
position: relative;
width: 100%;
height: 100%;
cursor: pointer;
transform-style: preserve-3d;
transform-origin: center right;
transition: transform 1s;
}
                        
.card:hover {
 
transform: translateX(-100%)rotateY(-180deg);
 
}
 
dl{
 
color: #fff;
} 
 
 
                             
                             
     
 
    